<!DOCTYPE html>
<html>
  <head>
    <title>Bookie</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <%= render partial: 'alert' %>

  <div class="container header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"> <%= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_path %> </li>
        <li role="presentation"> <%= link_to '<i class="fa fa-th"></i> New Booking'.html_safe, new_booking_path %> </li>
        <li role="presentation"> <%= link_to '<i class="fa fa-check-square-o"></i> My Bookings'.html_safe, pages_booking_path %> </li>
        <% if current_user && current_user.admin? %>
          <li role="presentation"> <%= link_to '<i class="fa fa-folder-open"></i> Items'.html_safe, items_path %> </li>
          <li role="presentation"> <%= link_to '<i class="fa fa-shopping-cart"></i> Bookings'.html_safe, bookings_path %> </li>
        <% end %>
      </ul>
    </nav>
    <h3 class="text-muted"><%= link_to "Bookie", root_path %></h3>
  </div>

  <body>
    <%= yield %>
  </body>

  <div class="container">
    <footer class="footer pull-right">
      <p>&copy; Bookie 2015</p>
    </footer>
  </div>
</html>
